# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Vendor directory
/vendor/

# Build output
/build/

# IDE files
*.idea/
*.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo

/.github/workflows/

